.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bgImage{
  /* Add the blur effect */
  filter: contrast(1.0) brightness(1) blur(3px);
  -webkit-transition: -webkit-filter 0.5s linear;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;

  width: 100%;
  height: 110vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  margin-top: -135px;
  z-index: -1;
}

.homepageForm {
  padding: 40px;
  text-align: center;

  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 40vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity:1;
  font-size: 20px;
  color: white;
}

.homepageForm:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15) ;
}